<h2>Films store</h2>
<p>
  Add a new film
</p>

<form onsubmit="return false;" id="f_form">

  <label for="f_id">Id: </label>
  <input type="number" id="f_id" placeholder="Unique ID" required>

  <label for="f_title">Title: </label>
  <input type="text" id="f_title" placeholder="Film title" required>

  <label for="f_desc">Description: </label>
  <input type="text" id="f_desc" placeholder="Brief description of the film" maxlength="64" required>

  <label for="f_year">Release year: </label>
  <input type="number" id="f_year" min="1900" max="2022" step="1" required>

  <label for="f_length">Length: </label>
  <input type="number" id="f_length" min="1" max="300" step="1" required>

  <button onclick="onSave()">Save</button>
</form>

<script>
  const onSave = () => {
    const form = document.querySelectorAll('#f_form > input');
    const values = Object.values(form).map(t => {
      let entry = { 'key': `${t.id}`, 'value': `${t.value}` };
      return entry;
    });
    const formData = values.reduce((obj, item) => Object.assign(obj, { [item.key]: item.value }), {});
    fetch(`./films`, {
      method: "POST",
      body: JSON.stringify({
        "id": formData["f_id"],
        "title": formData["f_title"],
        "description": formData["f_desc"],
        "release_year": formData["f_year"],
        "rental_duration": "3",
        "rental_rate": "4.99",
        "length": formData["f_length"],
        "replacement_cost": "13.99",
        "rating": "G",
        "special_features": "{Trailers,\"Deleted Scenes\"}"
      })
    })
    .then(r => {
      if (r.ok) {
        window.location.href = "../";
      } else {
        window.alert(`Couldn't store the film: ${r.status}`)
      }
    })
    .catch(e => window.alert(`Couldn't store the film: ${e}`));
  };
</script>